.list-container-of-Library {
  width: 220px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  flex-shrink: 0;
}

.icon-Library {
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
}

.text-of-Library {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  margin-bottom: 15px;
}

.description-of-Library {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  color: #262929;
}
